@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap');
body{
    border : 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --yellow : #ffd21d;
    --off-white : #fafafa;
}

header{
    height : 325px;
}


.blackBg{
    background-color: #212121;
}

.hero-heading{
    margin:0;
    padding-top:1.0625rem;
    color: var(--off-white);
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.125rem;
    letter-spacing: .04em;
}

.hero-text{
    color : var(--off-white);
    /* font-family: 'Overlock SC' , serif; */
    /* font-family: 'Alegreya', serif; */
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .04em;
    padding : .5rem 2.75rem;
    /* visibility: hidden; */
    text-transform: capitalize;
}


.mic-box{
    position: absolute;
    top : 243px;
    left: 43vw;
    text-align: center;
    background-color: var(--yellow);
    width : 50px;
    padding : .5rem 0rem;
    margin : .5rem auto 31px;
    border-radius: 50%; 
    box-shadow: 0px 0px 4px 5px rgba(255, 210, 29, 0.25);
}

.mic {
    height: 29px;
    width: 29px;
}

section{
    height: 50vh;
    overflow: hidden;

}

.yellowBg{
    background-color: var(--yellow);
} 

.hero-heading2{
    margin:0;
    padding-top:1.0625rem;
    color: black;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.125rem;
    letter-spacing: .04em;
}

.hero-text2{
    color : black;
    /* font-family: 'Overlock SC' , serif; */
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .04em;
    padding : 1.5rem 2.75rem;
    
}

.headphone-box{
    position: absolute;
    top : 582px;
    left: 43vw;
    text-align: center;
    background-color: var(--yellow);
    width : 50px;
    padding : .5rem 0rem;
    margin : .5rem auto 25px; 
    border-radius: 50%; 
    border : 2px solid black;
}

.headphone{
    height: 29px;
    width: 29px;
}

.after-click{
    display: none;
}

/* Before clicks */
.whiteBg{
    background-color: var(--off-white);
}

.b4-click{
    display:none;
}

.b4-mic-box{
    text-align: center;
    background-color: var(--yellow);
    width : 50px;
    padding : .5rem 0rem;
    /* margin : .5rem auto 31px; */
    position: absolute;
    top: 8.5rem;
    left: 45vw;
    border-radius: 50%; 
    box-shadow: 0px 0px 4px 5px rgba(255, 210, 29, 0.25);
}

.mic-sub{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    letter-spacing: .46em;
    position: absolute;;
    top: 12.5rem;
    left: 41vw;
}

.b4-headphone-box{
    text-align: center;
    background-color: var(--yellow);
    width : 50px;
    padding : .5rem 0rem;
    /* margin : .5rem auto 31px; */
    position: relative;
    top: 8.5rem;
    left: 45vw;
    border-radius: 50%; 
    box-shadow: 0px 0px 4px 5px rgba(255, 210, 29, 0.25);
}

.headphone-sub{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: var(--off-white);
    letter-spacing: .46em;
    position: relative;
    top: 9.5rem;
    left: 39vw;
}

footer{
    text-align: center;
    height: 3rem;
}

footer div{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    padding-top: .7rem;
}

@media only screen and (min-width:450px){
    .mic-sub{
        left: 42vw;
    }

    .headphone-sub{
        left: 40.5vw;
    }

    .mic-box{
        left: 46vw;
    }

    .headphone-box{
        left: 45vw;
    }
}


@media only screen and (min-width:650px){
    header{
        height: 50vh;
    }

    section{
        height: 50vh;
    }

    .b4-mic-box{
        left: 48vw;
    }

    .mic-sub{
        left: 45.6vw;
        font-size: 1.2rem;
    }

    .b4-headphone-box{
        left: 48vw;
    }

    .headphone-sub{
        left: 45vw;
        font-size: 1.2rem;
    }

    .mic-box{
        left: 48vw;
    }

    .headphone-box{
        left: 48vw;
    }
}

@media only screen and (min-width:1190px){
    .mic-sub {
        left: 46.2vw;
    }

    .headphone-sub{
        left: 45.6vw;
    }
}

@media only screen and (min-width:1400px){
    .mic-sub {
        left: 46.5vw;
    }

    .headphone-sub{
        left: 45.9vw;
    }
}